sentence-transformers
uvicorn
ctransformers
langchain
python-box
streamlit
langchain-community
unstructured
langchain-huggingface
faiss-cpu
datasets
ragas
ipywidgets
python-dotenv
pandas
evaluate
absl-py
rouge_score
bert-score